/- content_for :middle_content do
%br
-@sent_detail.each do |detail|
  -if detail.id.eql?(@message_id.to_i)
    %b
      = 'From :'
    = 'me'
    %br
    %b 'To'
    -user_sender(detail.received_messageable_id).each do |b|
      =b.full_name
    %br
    %br
      =detail.topic
    %br
    %br
      =detail.body
    
  -else
    -true

  