%h1 Assignment Category
%p
%br
= link_to 'New Assignment Category', new_assignment_category_class_room_assignments_path(@class.id)
%table
  %tr
    %td Assignment Category
    %td Edit?
    %td Delete?
    - @assignment_categories.each do |assignment_category|
      %tr
        %td= assignment_category.name
        %td= link_to 'Edit', edit_assignment_category_class_room_assignment_path(@class.id, assignment_category)
        %td= link_to 'Delete', delete_assignment_category_class_room_assignment_path(@class.id ,assignment_category), :confirm =>'Are you sure?', :method => :delete
        
        