= form_for @assignment_category,:url =>update_assignment_category_class_room_assignment_path(@class.id ,@assignment_category.id) ,:method =>:put do |f|
  .field
    = f.label :name
    = f.text_field :name
  .action
    = f.submit 'save'