#sitewrapper
  .header
    .nav
      %h1
        Already signed up?
        =link_to "Sign in", root_path
    .main
      .signup
        %h1
          Thanks for signing up! Check your email for your registration confirmation.
      