@import "mixins"

body
  
  
  h1
    font: normal 18px myriad-pro, sans-serif
    color: #3f3d32
  h2
    font: normal 14px myriad-pro, sans-serif
    color: #3f3d32
  h3
    font: normal 12px myriad-pro, sans-serif
    color: #3f3d32
  a
    text-decoration: none
    color #3f3d32
    &:visited
    color: #3f3d32

#sitewrapper

#container
  +gradient-bg(#F5F5F5,  #8A8A8A)
  .wrapper
    margin: 0 auto
    width: 960px
  .header
    margin: 0 auto
    width: 960px
    padding: 9px
    .logo
      float: left
    .right
      float: right
      text-align: right
    .login
      text-align: right
      margin-top: 36px
    .submit
      +gradient-bg(#87CEEB, #0099CC)
      height: 18px
      width: 60px
      +border-top-right-radius(13px)
      +border-top-left-radius(13px)
      +border-bottom-left-radius(28px)
      +border-bottom-right-radius(28px)
    
    .notice_launch
      font: normal 14px myriad-pro, sans-serif
      color: #B22222
      margin-top: 9px
      margin-right: 75px

#main_content
  +gradient-bg(#F5F5F5,  #FFEFDB)
  min-height: 640px
  
  
  .headline
    margin: auto
    width: 960px
    text-align: center
    .headline_text
      padding: 72px 18px 18px
      h1
        font: normal 48px chaloops, sans-serif
        color: #3f3d32
      h2
        font: normal 36px chaloops, sans-serif
        color: #3f3d32
    .subhead_text
      h2
        font: normal 18px myriad-pro, sans-serif
        color: #3f3d32
      h3
        font: normal 12px myriad-pro, sans-serif
        color: #3f3d32
    .invite_request
      h1
        font: normal 36px myriad-pro, sans-serif
        color: #B22222
      h2
        font: normal 18px myriad-pro, sans-serif
        color: #3f3d32
    .testimonials
      margin-top: 36px
      text-align: left
      h1
        font: normal 24px myriad-pro, sans-serif
        color: #B22222
      h2
        font: normal 18px daniel, cursive
        color: #3f3d32
      h3
        text-align: right
        font: normal 18px daniel, cursive
        color: #3f3d32
  .nav_bar
    margin: auto
    width: 960px
    text-align: center
    padding: 9px
    h1
      font: normal 18px myriad-pro, sans-serif
      color: #3f3d32
    h2
      font: normal 14px myriad-pro, sans-serif
      color: #3f3d32
    h3
      font: normal 12px myriad-pro, sans-serif
      color: #3f3d32
    a
      text-decoration: underline
      color #3f3d32
      &:visited
      color: #3f3d32
      
      
  a
    text-decoration: none
    color #3f3d32
    &:visited
    color: #3f3d32
  .students
    padding: 9px
    float: right
    text-align: right
    h2
      font: normal 14px myriad-pro, sans-serif
      color: #3f3d32
    h3
      font: normal 12px myriad-pro, sans-serif
      color: #3f3d32
  .classes
    padding: 9px
    float: left
    text-align: left
    h1
      font: normal 18px myriad-pro, sans-serif
      color #3f3d32
    h2
      font: normal 14px myriad-pro, sans-serif
      color: #3f3d32
    h3
      font: normal 12px myriad-pro, sans-serif
      color: #3f3d32 
.analytics
  text-align: center
  margin-top: 72px
  h1
    font: normal 24px myriad-pro, sans-serif
    color: #B22222
    
.assignments
  margin-top: 18px
  text-align: left
  h1
    font: normal 18px myriad-pro, sans-serif
    color: #3f3d32
  h2
    font: normal 14px myriad-pro, sans-serif
    color: #3f3d32
  h3
    font: normal 12px myriad-pro, sans-serif
    color: #3f3d32
  a
    text-decoration: underline
    color #3f3d32
    &:visited
    color: #3f3d32
    
table.assignments
  width: 640px
  margin-top: 36px
  text-align: left
  white-space: normal
  tr.white
    border-top: 1px solid #000
    border-bottom: 1px solid #000
    background: #fff
    font: normal 18px Helvetica, Arial, sans-serif
    color: #3f3d32
    -webkit-font-smoothing: anti-aliased
  td
    border-bottom: 1px solid #fff
    padding-top: 8px
    padding-bottom: 8px
    overflow: hidden
  td.assignments
    font: normal 9px Helvetica, Arial, sans-serif
    color: #3f3d32
    -webkit-font-smoothing: anti-aliased
  td.assignments_desc
    font: normal 12px Helvetica, Arial, sans-serif
    color: #3f3d32
    -webkit-font-smoothing: anti-aliased
    width: 640px   
  td.grade
    text-align: center
  td.title
    width: 150px
    text-overflow: ellipsis
  td.show
    text-align: center
  th
    padding: 0 0.5em
    width: 150px
  th.grade
    padding: 0 0.5em
    width: 72px
  th.postedby
    padding: 0 0.5em
    width: 72px
  tr.desc
    width: 640px
    text-align: left
  td.due
    font: normal 12px Helvetica, Arial, sans-serif
    color: #E3170D
    -webkit-font-smoothing: anti-aliased
  
#footer_container
  +gradient-bg(#8A8A8A, #F5F5F5)
  .footer
    text-align: center
    padding: 9px
    margin: 0 auto
    width: 960px
    padding: 9px
    .contact
      text-align: left
      float: left
      a
        text-decoration: underline
  