/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:  	Tantek Celik, Shane Riley
    Version:  	(CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:	Resets default styling of common browsers to a common base
----------------------------------------
*/
ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em; }

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd {
  margin: 0;
  padding: 0; }

a img, :link img, :visited img, fieldset {
  border: none; }

address {
  font-style: normal; }

header, section, article, nav, footer, hgroup {
  display: block; }

body {
  background: #bee9fc url("/images/bg_body.png") 0 0 repeat-x; }

.landing {
  margin-top: 400px; }

.header {
  margin-top: 18px;
  margin-left: 18px;
  background: transparent url("/images/logo_header.png") 0 0 no-repeat;
  font: normal 12px Helvetica, Arial, sans-serif;
  color: #3f3d32;
  -webkit-font-smoothing: anti-aliased; }
  .header .nav {
    height: 120px;
    white-space: nowrap;
    margin-left: 400px; }
    .header .nav a {
      text-decoration: underline; }
    .header .nav h1 {
      position: fixed;
      left: 600px;
      top: 18px;
      z-index: 1;
      overflow: inherit;
      white-space: nowrap;
      font: normal 18px Helvetica, Arial, sans-serif;
      color: #3f3d32;
      -webkit-font-smoothing: anti-aliased; }

.field {
  font: normal 14px Helvetica, Arial, sans-serif;
  color: #3f3d32;
  -webkit-font-smoothing: anti-aliased; }

.main {
  margin-left: 72px;
  white-space: nowrap; }
  .main .myclasses h1 {
    font: normal 24px Helvetica, Arial, sans-serif;
    color: #3f3d32;
    -webkit-font-smoothing: anti-aliased; }
  .main .myclasses h2 {
    font: normal 18px Helvetica, Arial, sans-serif;
    color: #3f3d32;
    -webkit-font-smoothing: anti-aliased; }
  .main .myclasses h3 {
    font: normal 12px Helvetica, Arial, sans-serif;
    color: #3f3d32;
    -webkit-font-smoothing: anti-aliased; }
  .main .myclasses a {
    text-decoration: underline; }
  .main .myactivityfeed {
    font: normal 14px "Lucida Console", Monaco, monospace;
    color: #3f3d32;
    -webkit-font-smoothing: anti-aliased; }
    .main .myactivityfeed .feed h1 {
      font: normal 24px Helvetica, Arial, sans-serif;
      color: #3f3d32;
      -webkit-font-smoothing: anti-aliased; }
  .main .signup {
    margin-left: 72px; }
    .main .signup h1 {
      font: normal 18px Helvetica, Arial, sans-serif;
      color: #3f3d32;
      -webkit-font-smoothing: anti-aliased; }
    .main .signup h2 {
      font: normal 14px Helvetica, Arial, sans-serif;
      color: #3f3d32;
      -webkit-font-smoothing: anti-aliased; }
  .main .form {
    font: normal 14px Helvetica, Arial, sans-serif;
    color: #3f3d32;
    -webkit-font-smoothing: anti-aliased; }
  .main .submit {
    background-color: white;
    background-image: -moz-linear-gradient(100% 100% 90deg, #ed1c24, white);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#ed1c24));
    height: 36px;
    width: 72px;
    margin-top: 9px;
    -moz-border-radius-topright: 13px;
    border-top-right-radius: 13px;
    -moz-border-radius-topleft: 39px;
    border-top-left-radius: 39px;
    -moz-border-radius-bottomleft: 18px;
    border-bottom-left-radius: 18px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 300px; }

.password_reset {
  margin-left: 72px; }

#content {
  position: relative;
  float: left;
  left: 50%;
  width: 840px;
  min-height: 520px;
  padding: 15px;
  margin: 0 0 0 -460px;
  border: 25px solid #f0f4ea;
  background: white; }
  #content section > header {
    width: 890px;
    margin: 0 0 20px -50px;
    overflow: hidden; }
    #content section > header h1 {
      float: left;
      font-weight: normal;
      padding: 10px 80px 10px 50px;
      font-size: 30px;
      color: white;
      background: #b33c85 url("/images/bg_page-heading.png") 100% 0 no-repeat;
      background-color: rgba(179, 60, 133, 0.9); }
    #content section > header a {
      font-weight: bold;
      float: right;
      margin: 20px 0 0 0; }
  #content .notice, #content .success, #content .alert, #content .tip {
    clear: both;
    padding: 17px 20px 17px 50px;
    margin: 0 0 20px 0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffe5 url("/images/icon_notice.png") 15px 15px no-repeat; }
    #content .notice a, #content .success a, #content .alert a, #content .tip a {
      font-weight: bold; }
    #content .notice h2, #content .success h2, #content .alert h2, #content .tip h2 {
      padding: 0 0 5px 0;
      margin: 0;
      font-size: 18px;
      text-transform: none;
      letter-spacing: 0px;
      border: none;
      background: transparent; }
  #content .success {
    background-color: #e7f3d5;
    background-image: url("/images/icon_success.png"); }
  #content .tip {
    text-align: center;
    background: #d9eeef;
    padding: 30px 20px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    #content .tip a {
      font-weight: bold; }

footer {
  clear: both;
  overflow: hidden;
  width: 870px;
  margin: 0 auto;
  padding: 0 25px 77px 25px;
  background: #f0f4ea url("/images/bg_footer.png") 0 100% no-repeat; }
  footer a {
    text-decoration: none; }
  footer nav {
    float: left; }
    footer nav h3 {
      padding: 0 0 28px 0; }
      footer nav h3 a {
        display: block;
        width: 259px;
        height: 40px;
        text-indent: -8685px;
        background: transparent url("/images/logo_footer.png") 0 0 no-repeat; }
    footer nav li {
      display: inline;
      padding: 0 20px 0 0;
      font-size: 11px;
      font-weight: bold; }
      footer nav li a {
        color: #858477; }
  footer section {
    float: right;
    text-align: right; }
    footer section ul {
      float: right;
      padding: 0 0 20px 0; }
    footer section li {
      float: left;
      margin: 0 0 0 10px; }
      footer section li a {
        display: block;
        padding: 10px 10px 10px 35px;
        font-weight: bold;
        color: #454643;
        -moz-border-radius: 7px;
        border-radius: 7px;
        background: #d8dbd2;
        border: 1px solid #c6c9c0; }
        footer section li a.twitter {
          background: #d8dbd2 url("/images/icon_twitter.png") 10px 50% no-repeat; }
        footer section li a.facebook {
          background: #d8dbd2 url("/images/icon_facebook.png") 10px 50% no-repeat; }
        footer section li a:hover {
          background-color: #d4e9ed;
          border-color: #a7dbdb;
          color: #454643; }
    footer section p {
      clear: both;
      font-size: 11px;
      color: #858477; }
      footer section p a {
        font-weight: bold;
        color: #858477; }

article.copy p {
  margin: 0 0 15px 0;
  line-height: 170%; }
article.copy h2 {
  margin: 25px 0 15px 0;
  font-size: 18px; }
article.copy h3 {
  margin: 25px 0 15px 0;
  font-size: 14px; }
article.copy ul, article.copy ol {
  margin: 0 0 15px 0;
  padding: 0 60px;
  line-height: 170%; }
  article.copy ul li, article.copy ol li {
    margin: 0 0 5px 0;
    list-style: disc; }
article.copy ol li {
  list-style: decimal; }
article.copy dl {
  margin: 30px 40px;
  padding: 0 20px;
  line-height: 170%;
  border-left: 2px solid #e0e0de;
  border-right: 2px solid #e0e0de; }
  article.copy dl dt {
    font-weight: bold; }
  article.copy dl dd {
    margin: 0 0 15px 10px; }
