.header
  .nav
    =link_to "Sign in", root_path
#background
  %h1 The ClassCloud Weather Center
  #main_content_area
    %br
    %h2
      To report any bugs, issues or other problems, please email us at #{mail_to 'support@classcloud.me'}.
    %br
    %hr
    %h3
      October 15, 2011: 04:39 EST -- moved Assignment Categories on teacher dashboard inside Assignments.
    %br
    %h3
      October 15, 2011: 02:10 EST -- fixed error when viewing assignments.
    %br
    %h3
      October 13, 2011: 08:01 EST -- Now assignment categories are not shared among teachers. Categories
      Categories that teachers add or delete are specific to their classroom and not the entire site.
    %br
    %h3
      October 13, 2011: 05:13 EST -- fixed save grade issues. Teachers can now save grades when editing
      student "CloudPads (SkyWriter)"; Sent messages now show a confirmation message.
    %br
    %h3
      Currently: working on fixing the save grade issue for cloudpads. Working on style/formatting issues.
    %br
    %h3
      October 13, 2011: 9:45 EST -- fixed deleted items issue in news feed; fixed error when
      students send messages to teacher. => message center fully functional. Deleting items is now ok.
    %br
    %h3
      October 12, 2011: 10:00 EST -- fixed assignment editing issue
    %br
    %h3
      October 11, 2011: 21:00 EST -- private beta testing began
    %hr