- content_for :head do
  %meta{:name => "description", :content => "ClassCloud gets the class into the Cloud. It's a cloud platform for managing classrooms and schools. It's like Facebook for schools. ..only better!"}/
  %meta{:name => "keywords", :content => "education, cloud, schools, technology, classroom, teachers, internet, collaboration, Basecamp, Facebook, education management, free" }/


%div{:style=> "text-align: right"}
  %div{:style=> "margin-right: 72px"}
    =link_to 'Watch the video', href="http://vimeo.com/29879423"
    | Already signed up?
    =link_to "Sign in", root_path
%div{:style=> "margin-top: 36px"}
  %div{:style=> "text-align: center"}
    %div{:style=> "position: relative"}
      = image_tag "cc_landing.png", alt: "Are you ready for the paperless classroom? Welcome to ClassCloud!"
.main
  .myclasses
    %br
    %br
    %h1
      ClassCloud is like Facebook for schools.
    %h1{:style=> "margin-left: 425px"}
      \..only better.
    %br
    %h2
      %strong
        Teachers can:
    %h1{:style=> "margin-left: 128px"}
      Create assignments.
    %h1{:style=> "margin-left: 128px"}
      Post class notes and slides.
    %h1{:style=> "margin-left: 128px"}
      Manage the class calendar.
    %h1{:style=> "margin-left: 128px"}  
      Start discussions.
    %h1{:style=> "margin-left: 128px"}  
      Collaborate with students.
    %h1{:style=> "margin-left: 128px"}  
      Grade essays and homework.
    %h1{:style=> "margin-left: 128px"}
      Contact parents.
    %h1{:style=> "margin-left: 128px"}
      Conference with students.
    %h1{:style=> "margin-left: 128px"}
      Manage attendance.
    %h1{:style=> "margin-left: 128px"}
      Make announcements.
    %h1{:style=> "margin-left: 128px"}
      Post rich media.
    %br
    %h2
      %strong
        Students can:
      %h1{:style=> "margin-left: 128px"}
        Complete assignments
      %h1{:style=> "margin-left: 128px"}
        Start discussions
      %h1{:style=> "margin-left: 128px"}
        Manage homework and due dates
      %h1{:style=> "margin-left: 128px"}  
        Collaborate with classmates
      %h1{:style=> "margin-left: 128px"}  
        Talk to the teacher
      %h1{:style=> "margin-left: 128px"}  
        Review class notes
      %h1{:style=> "margin-left: 128px"}
        Write essays
      %h1{:style=> "margin-left: 128px"}
        Share rich media
      %h1{:style=> "margin-left: 128px"}
        View grades and teacher comments
      %br
      %br
    %h1
      ClassCloud is currently available by invitation only.
%br
%h2{:style=> "margin-right: 300px"}
  %h2{:style=> "margin-left: 72px"}
    If you're a teacher or a school administrator and you want to join the private beta of ClassCloud, contact CEO Brian Dear at #{mail_to 'brian@icouch.me'}.
%div{:style=> "margin-bottom: 18px"}
= image_tag "cclogo.png"
%div{:style=> "margin-bottom: 36px"}