%p.align_centered 
  ='Welcome'
  = @resource.email
  ='!'

%p.align_centered Thanks for joining classcloud! Please click the link below to confirm your account. If you have any problems, email Brian Dear at #{mail_to 'brian@classcloud.me'}.

%p.align_centered 
  = link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

